*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}


body {
    background-color: black;
    color:#fff;
}



header {
    display:flex;
    background-color: rgb(39, 43, 51);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    color-scheme: dark;
    flex-wrap: nowrap;
   
    font-size: 14px;
    height: 60px;
    line-height: 21px;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    text-size-adjust: 100%;
    width: auto;
    z-index: 32;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo, input {
    display: flex;
    align-items: center;
    

}

.logo img {
    width: 32px;
    height: 32px;
    margin: 20px;
    margin-left: 0;
    cursor: pointer;
}

input {
    position: relative;
    width: 272px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid rgb(71, 72, 75);
    background-color: rgb(10, 12, 16);
    Color: white;
    padding: 5px;
    justify-content: space-between;
    line-height: 20px;
    max-width: 100%;
    min-height: 28px;

}



.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    padding: 16px;
}

 .header li {
    margin-right: 20px;
   
}

a {
    color: white;
    text-decoration: none;
}

.direita {
    margin-left: 420px;
    margin-right: 0px;

}

.direita img {
    width: 16px;
    height: 16px;

}

.direita img > img {
    width: 64px;
    height: 64px;

}


.linha {

width: 100%;
height: 0px;
border: 1px solid #ffffff;
margin-top: 100px;
opacity: 50%;

}


.main {
    display: flex;
    padding: 10px;
   
    
}

.main ul {
    display: flex;
    margin-left: 30px;
    list-style: none;
}

.main a:hover {
    color: blueviolet;
}

#first {
    display: flex;
    background-color: black;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 14px;
    padding: 5px 5px;
    font-size: 13px;

}

.main-esquerdo {
    display:flex;
    margin-left: 600px;
}

*/